{
	"ChargeBeeApiKey": "clefclef",
	"ChargeBeeSite": "site sans le charge",
	"BrevoApiKey": "BrevoApiKey",
	"CreditOffertEnCentime": 100,
	"ReductionEnPourcent": 1,
	"ReferralEmail": {
		"Subject": "Votre coupon de parrainage",
		"Address": "bla@blo.com",
		"Name": "alice",
		"TemplateID": 240
	},
	"CreditAddedEmail": {
		"Subject": "Votre coupon de parrainage",
		"Address": "bla@blo.com",
		"Name": "alice",
		"TemplateID": 241
	}
}