{
	"ChargeBeeApiKey": "clefclef",
	"ChargeBeeSite": "site sans le charge",
	"BrevoApiKey": "BrevoApiKey",
	"CreditOffertEnCentime": 100,
	"ReductionEnPourcent": 1,
	"ReferralEmailSubject": "Votre coupon de parrainage",
	"ReferralEmailAddress": "bla@blo.com",
	"ReferralEmailName": "alice"
}